{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Filmes</h2>
  <p>Todos os filmes cadastros:</p>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Título</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
    {% for filme in filmes %}
    <tr>
        <td>{{ filme.id }}</td>
        <td>{{ filme.titulo }}</td>
        <td><a href="/midia/filme/{{ filme.id }}/" class="btn btn-info" role="button"><span class="glyphicon glyphicon-star-empty"></span> DETALHES</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}