<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mídia</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">{{ filme.titulo }}</div>
        <div class="panel-body">
        <p>{{ filme.sinopse }}</p>
        </div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>Ano Produção</th>
                <th>Categoria</th>
                <th>Diretor</th>
                <th>Atores</th>
            <tr>
            <tr>
                <td>{{ filme.ano_producao }}</td>
                <td>{{ filme.categoria }}</td>
                <td>{{ filme.diretor }}</td>
                <td>
                    {% for ator in filme.atores.all %}
                        {{ ator }} <br />
                    {% endfor %}
                </td>

            </tr>
        </table>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
</body>

</html>